<section class="team-boxed">
  <div class="container">
    <div class="row people">
      <div class="col-md-6 item">
        <div class="box">
          <router-outlet></router-outlet>
        </div>
      </div>
      <div class="col-md-6 item">
        <div class="box"><img src="assets/BM-Logo.gif" alt="BM-Games Logo">
          <h3 class="name">Welcome Fellow Gamer!</h3>
          <p class="title">Schön das zu zu uns gefunden hast</p>
          <p class="description">Hinter diesem Login befinden sich viele tolle Abenteuer. Ein Multiplayer-Erlebnis, wie du es zuvor noch nie erlebt hast. <br>
          Wir verbinden in diesem Multi-User-Dungeon nostalgische Spielerlebnisse mit modernem Desgin.
          Du kannst hier deine eigene Spielwelt erschaffen, Freunde dazu einladen oder einfach eine Vielzahl an bestehenden Abenteuern erkunden. <br>
          Melde dich jetzt an und erkunde die abenteuerliche Welt von BM-Games.<br><br></p>
          <div class="social"><a></a><a></a><i class="fas fa-question"></i><a>Viel Spaß!</a></div>
        </div>
      </div>
    </div>
  </div>
</section>

