<section class="team-boxed">
  <div class="container">
    <div class="row people">
      <div class="col-md-6 item">
        <div class="box">
          <router-outlet></router-outlet>
        </div>
      </div>
      <div class="col-md-6 item">
        <div class="box"><img src="assets/BM-Logo.gif" alt="BM-Games Logo">
          <h3 class="name">Welcome Fellow Gamer!</h3>
          <p class="title">This is some Random TEXT U GET FROM ME</p>
          <p class="description">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
            invidunt ut labore et dolore&nbsp;<br>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore&nbsp;<br><br></p>
          <div class="social"><a href="#"></a><a href="#"></a><i class="fas fa-question"></i><a href="#">Frequently
            Asked Questions</a></div>
        </div>
      </div>
    </div>
  </div>
</section>

