<body>
<h1>Änder dein Passwort</h1>
<div change-password-dialog-content>
  <mat-form-field>
    <mat-label>E-Mail</mat-label>
    <input matInput [(ngModel)]="mail">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Altes Passwort</mat-label>
    <input matInput [(ngModel)]="oldPassword" type="password">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Neues Passwort</mat-label>
    <input matInput [(ngModel)]="newPassword" type="password">
  </mat-form-field>
</div>
<div class="btnDiv" mat-dialog-actions>
  <div>
    <button mat-button (click)="cancel()">Abbrechen</button>
  </div>
  <div>
    <button mat-button (click)="submitNewPassword()">Bestätigen</button>
  </div>
</div>
</body>
