<mat-card class="mat-elevation-z2">
  <mat-card-header>
    <mat-card-title>
      {{game.name}}
      <button mat-card-avatar mat-icon-button (click)="info()">
        <mat-icon>info</mat-icon>
      </button>
    </mat-card-title>
    <span class="spacer"></span>
    <mat-chip-list>
      <mat-chip *ngIf="game.userPermitted">{{game.avatarCount}} Avatare</mat-chip>
      <mat-chip>{{game.onlinePlayers}} Spieler online</mat-chip>
      <mat-chip *ngIf="!game.masterOnline" color="accent" selected>Master offline</mat-chip>
      <mat-chip *ngIf="game.masterOnline">Master online</mat-chip>
    </mat-chip-list>
  </mat-card-header>
  <mat-card-actions style="display: flex">
    <button *ngIf="game.userPermitted === 'Yes'" mat-raised-button routerLink="/game/overview/{{game.name}}">Beitreten</button>
    <button *ngIf="game.userPermitted === 'No'" mat-raised-button (click)="requestJoin()">Beitrittsanfrage senden
    </button>
    <button *ngIf="game.userPermitted === 'Pending'" mat-raised-button disabled>
      Anfrage ausstehend
    </button>
    <span class="spacer"></span>
    <button matTooltip="Kopie erstellen" mat-icon-button (click)="copy()">
      <mat-icon>content_copy</mat-icon>
    </button>
    <button *ngIf="game.isMaster"
            matTooltip="MUD löschen"
            mat-icon-button color="warn"
            (click)="delete()">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
