<mat-card class="mat-elevation-z2">
  <mat-card-header>
    <mat-card-title>{{game.config.name}}</mat-card-title>
    <mat-card-subtitle>MUD Beschreibung</mat-card-subtitle>
    <span class="spacer"></span>
    <mat-chip-list>
      <mat-chip>{{game.onlinePlayers}} Spieler online</mat-chip>
      <mat-chip *ngIf="game.masterOnline" color="warn" selected>Master offline</mat-chip>
      <mat-chip *ngIf="!game.masterOnline">Master online</mat-chip>
      <mat-chip *ngIf="game.userPermitted">{{game.avatarCount}} Avatare</mat-chip>
    </mat-chip-list>
  </mat-card-header>
  <mat-card-actions>
    <button *ngIf="game.userPermitted" routerLink="/avatarConfigurator" mat-raised-button>Beitreten</button>
    <button *ngIf="!game.userPermitted" mat-raised-button >Beitrittsanfrage senden</button>
  </mat-card-actions>
</mat-card>
