<body>
<div class="configArea">
  <div class="inputArea">
    <div class="inputAreaHeader">
      <input class="inputName" placeholder="Name" [(ngModel)]="name"/>
    </div>
    <div class="inputAreaBody">
      <div>
        <label>Typ:</label>
        <mat-form-field class="dropDown">
          <mat-select [(ngModel)]="selectedNPCType">
            <mat-option *ngFor="let type of npcTypes" [value]="type" (click)="npcTypeChanged(type)">
              {{type}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="divWithList">
        <label>Items:</label>
        <mat-selection-list [(ngModel)]="selectedNPCEquipment">
          <mat-list-option *ngFor="let item of allEquipment" [value]="item">
            {{item.name}}
          </mat-list-option>
        </mat-selection-list>
      </div>
      <!--<div class="divWithList">
        <label>Loottable:</label>
        <mat-selection-list [(ngModel)]="selectedNPCItemsLoottable">
          <mat-list-option *ngFor="let item of allItemsLoottable" [value]="item">
            {{item.name}}
          </mat-list-option>
        </mat-selection-list>
      </div>-->
      <div *ngIf="isHostile">
        <label>Gesundheit:</label>
        <mat-slider class="slider" min="1" max="100" step="1" thumbLabel [displayWith]="sliderValue" [(ngModel)]="health"></mat-slider>
      </div>
      <div *ngIf="isHostile">
        <label>Schaden:</label>
        <mat-slider class="slider" min="1" max="100" step="1" thumbLabel [displayWith]="sliderValue" [(ngModel)]="damage" el></mat-slider>
      </div>
      <div *ngIf="!isHostile">
        <label>Nachricht:</label>
        <textarea [(ngModel)]="messageOnTalk"></textarea>
      </div>
    </div>
    <div class="divBtn">
      <button (click)="addNPC()">Hinzufügen</button>
    </div>
  </div>
  <div class="dataArea">
    <div class="dataAreaHeader">
      <label class="labelHeader">NPCs</label>
    </div>
    <div>
      <table>
        <thead>
        <tr>
          <th>Name</th>
          <th>Typ</th>
          <th>Items</th>
          <th>Entfernen</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let npc of configuredNPCs">
          <td>{{npc.name}}</td>
          <td *ngIf="npc.type=='net.bmgames.state.model.NPC.Friendly'">Verbündet</td>
          <td *ngIf="npc.type=='net.bmgames.state.model.NPC.Hostile'">Feindlich</td>
          <td>{{npc.items.length}}</td>
          <td>
            <button (click)="deleteNPC(npc.name)">X</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</body>
