mat-toolbar > *:not(:last-child) {
  margin-right: 1rem;
}


.cards {
  padding: 1rem;

  .card {
    &:not(:last-child) {
      margin-bottom: 1rem!important;
    }

    width: 100% !important;
    height: 100% !important;
  }
}
