<h1 mat-dialog-title>Ändere dein Passwort</h1>
<mat-dialog-content [formGroup]="form">
  <mat-form-field>
    <mat-label>Altes Passwort</mat-label>
    <input matInput formControlName="old"  type="password">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Neues Passwort</mat-label>
    <input matInput formControlName="new" type="password">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Neues Passwort wiederholen</mat-label>
    <input matInput formControlName="new2" type="password">
    <mat-error *ngIf="form.get('new2')?.dirty && form.get('new2')?.hasError('mismatch')">
      Passwörter müssen übereinstimmen
    </mat-error>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="cancel()">Abbrechen</button>
  <button mat-button (click)="submitNewPassword()"  [disabled]="!form.valid">Bestätigen</button>
</mat-dialog-actions>
