<body>
<div>
  <h1>{{game}}</h1>
</div>

<div class="userArea">
  <div class="gameConsoleArea">
    <app-console [lines]="commands" (lineEntered)="sendCommand($event)"></app-console>
  </div>
  <div class="rightArea">
    <div class="gameChatArea">
      <app-chat [incomingMessages]="chat" (outgoingMessages)="sendChat($event)"></app-chat>
    </div>
    <div class="gameMapArea">
      <div>
        <mat-grid-list [cols]="mapColumns">
          <mat-grid-tile *ngFor="let gridValue of grid" [style.background]="gridValue.color">
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </div>
  </div>
</div>

</body>
