.gameMapArea {
  width: 100%;
  height: 100%;
  padding: 3rem;
  align-items: center;
  justify-content: center;

  mat-grid-list {
    background-color: white;
  }
}

.game-area {
  height: calc(100% - 4rem);
}
