<body>
<div class="configArea">
  <div class="inputArea">
    <div class="inputAreaHeader">
    </div>
    <div class="inputAreaBody">
      <div>
        <label>Typ:</label>
        <mat-form-field class="dropDown">
          <mat-select [(ngModel)]="selectedCommandType">
            <mat-option *ngFor="let type of commandTypes" [value]="type" (click)="commandTypeChanged(type)">
              {{type}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div *ngIf="!isCustomCommand">
        <div class="standardCommand">
          <label>"pickup"</label>
          <input placeholder="pickup" [(ngModel)]="pickupAlias"/>
        </div>
        <div class="standardCommand">
          <label>"use"</label>
          <input placeholder="use" [(ngModel)]="consumeAlias"/>
        </div>
        <div class="standardCommand">
          <label>"inventory"</label>
          <input placeholder="inventory" [(ngModel)]="showInventoryAlias"/>
        </div>
        <div class="standardCommand">
          <label>"move"</label>
          <input placeholder="move" [(ngModel)]="goAlias"/>
        </div>
        <div class="standardCommand">
          <label>"look"</label>
          <input placeholder="look" [(ngModel)]="lookAlias"/>
        </div>
        <div class="standardCommand">
          <label>"hit"</label>
          <input placeholder="hit" [(ngModel)]="hitAlias"/>
        </div>
      </div>
      <div *ngIf="isCustomCommand">
        <div>
          <label
            matTooltip="Verfügbare Befehle sind: bla"
            matTooltipPosition="below"
          >Befehl:</label>
          <input placeholder="drop" [(ngModel)]="commandSyntax"/>
        </div>
        <div class="actionDiv">
          <label>Command 1:</label>
          <mat-form-field class="dropDown">
            <mat-select [(ngModel)]="selectedAction1" (selectionChange)="command1changed()">
              <mat-option *ngFor="let action of allActions" [value]="action">
                {{action}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="actionDiv">
          <label>Command 2:</label>
          <mat-form-field class="dropDown">
            <mat-select [(ngModel)]="selectedAction2" [disabled]="command2Disabled" (selectionChange)="command2changed()">
              <mat-option *ngFor="let action of allActions" [value]="action" >
                {{action}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="actionDiv">
          <label>Command 3:</label>
          <mat-form-field class="dropDown">
            <mat-select [(ngModel)]="selectedAction3" [disabled]="command3Disabled" (selectionChange)="command3changed()">
              <mat-option *ngFor="let action of allActions" [value]="action">
                {{action}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="actionDiv">
          <label>Command 4:</label>
          <mat-form-field class="dropDown">
            <mat-select [(ngModel)]="selectedAction4" [disabled]="command4Disabled" (selectionChange)="command4changed()">
              <mat-option *ngFor="let action of allActions" [value]="action">
                {{action}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="actionDiv">
          <label>Command 5:</label>
          <mat-form-field class="dropDown">
            <mat-select [(ngModel)]="selectedAction5" [disabled]="command5Disabled">
              <mat-option *ngFor="let action of allActions" [value]="action">
                {{action}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="divBtn" *ngIf="!isCustomCommand">
      <button (click)="addCommand()">Speichern</button>
    </div>
    <div class="divBtn" *ngIf="isCustomCommand">
      <button (click)="addCommand()">Hinzufügen</button>
    </div>
  </div>
  <div class="dataArea">
    <div class="dataAreaHeader">
      <label class="labelHeader">Eigene Befehle</label>
    </div>
    <div>
      <table>
        <thead>
        <tr>
          <th>Command</th>
          <th>Anzahl actions</th>
          <th>Entfernen</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let command of customCommands | keyvalue ">
          <td>{{command.key}}</td>
          <td>{{command.value}}</td>
          <td>
            <button (click)="deleteCustomCommand(command.key)">X</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</body>
