<body>
<div class="configArea">
  <div class="inputArea">
    <div class="inputAreaHeader">
    </div>
    <div class="inputAreaBody">
      <div>
        <label>Typ:</label>
        <mat-form-field class="dropDown">
          <mat-select [(ngModel)]="selectedCommandType">
            <mat-option *ngFor="let type of commandTypes" [value]="type" (click)="commandTypeChanged(type)">
              {{type}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div *ngIf="!isCustomCommand">
        <div class="standardCommand">
          <label>"pickup"</label>
          <input placeholder="pickup" [(ngModel)]="pickupAlias"/>
        </div>
        <div class="standardCommand">
          <label>"consume"</label>
          <input placeholder="consume" [(ngModel)]="consumeAlias"/>
        </div>
        <div class="standardCommand">
          <label>"show inventory"</label>
          <input placeholder="show inventory" [(ngModel)]="showInventoryAlias"/>
        </div>
        <div class="standardCommand">
          <label>"go"</label>
          <input placeholder="go" [(ngModel)]="goAlias"/>
        </div>
        <div class="standardCommand">
          <label>"look"</label>
          <input placeholder="look" [(ngModel)]="lookAlias"/>
        </div>
        <div class="standardCommand">
          <label>"hit"</label>
          <input placeholder="hit" [(ngModel)]="hitAlias"/>
        </div>
      </div>
      <div *ngIf="isCustomCommand">
        <div>
          <label>Befehl:</label>
          <input placeholder="drop" [(ngModel)]="commandSyntax"/>
        </div>
        <div class="actionDiv">
          <label>Command 1:</label>
          <mat-form-field class="dropDown">
            <mat-select [(ngModel)]="selectedAction1">
              <mat-option *ngFor="let action of allActions" [value]="action">
                {{action}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="actionDiv">
          <label>Command 2:</label>
          <mat-form-field class="dropDown">
            <mat-select [(ngModel)]="selectedAction2">
              <mat-option *ngFor="let action of allActions" [value]="action" >
                {{action}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="actionDiv">
          <label>Command 3:</label>
          <mat-form-field class="dropDown">
            <mat-select [(ngModel)]="selectedAction3">
              <mat-option *ngFor="let action of allActions" [value]="action">
                {{action}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="actionDiv">
          <label>Command 4:</label>
          <mat-form-field class="dropDown">
            <mat-select [(ngModel)]="selectedAction4">
              <mat-option *ngFor="let action of allActions" [value]="action">
                {{action}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="actionDiv">
          <label>Command 5:</label>
          <mat-form-field class="dropDown">
            <mat-select [(ngModel)]="selectedAction5">
              <mat-option *ngFor="let action of allActions" [value]="action">
                {{action}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="divBtn" *ngIf="!isCustomCommand">
      <button (click)="addCommand()">Speichern</button>
    </div>
    <div class="divBtn" *ngIf="isCustomCommand">
      <button (click)="addCommand()">Hinzufügen</button>
    </div>
  </div>
  <div class="dataArea">
    <div class="dataAreaHeader">
      <label class="labelHeader">Eigene Befehle</label>
    </div>
    <div>
      <table>
        <thead>
        <tr>
          <th>Command</th>
          <th>Anzahl actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let command of customCommands | keyvalue ">
          <td>{{command.key}}</td>
          <td>{{command.value}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</body>
