<body>
<div class="configArea">
  <div class="inputArea">
    <div class="inputAreaHeader">
    </div>
    <div class="inputAreaBody">
      <div>
        <label>Typ:</label>
        <mat-form-field class="dropDown">
          <mat-select [(ngModel)]="selectedCommandType">
            <mat-option *ngFor="let type of commandTypes" [value]="type" (click)="commandTypeChanged(type)">
              {{type}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div *ngIf="!isCustomCommand">
        <div class="standardCommand">
          <label>"pickup"</label>
          <input placeholder="pickup" [(ngModel)]="pickupAlias"/>
        </div>
        <div class="standardCommand">
          <label>"consume"</label>
          <input placeholder="consume" [(ngModel)]="consumeAlias"/>
        </div>
        <div class="standardCommand">
          <label>"show inventory"</label>
          <input placeholder="show inventory" [(ngModel)]="showInventoryAlias"/>
        </div>
        <div class="standardCommand">
          <label>"go"</label>
          <input placeholder="go" [(ngModel)]="goAlias"/>
        </div>
        <div class="standardCommand">
          <label>"look"</label>
          <input placeholder="look" [(ngModel)]="lookAlias"/>
        </div>
      </div>
      <div *ngIf="isCustomCommand">
        <div>
          <label
            matTooltip="Verfügbare Befehle sind: bla"
            matTooltipPosition="below">
            Syntax definieren:
          </label>
          <input placeholder="z.B. hit $player" [(ngModel)]="commandSyntax"/>
        </div>
        <div>
          <label>Action auswählen:</label>
          <mat-selection-list [(ngModel)]="selectedActions">
            <mat-list-option *ngFor="let action of allActions" [value]="action">
              {{action}}
            </mat-list-option>
          </mat-selection-list>
        </div>
      </div>
    </div>
    <div class="divBtn" *ngIf="!isCustomCommand">
      <button (click)="addCommand()">Speichern</button>
    </div>
    <div class="divBtn" *ngIf="isCustomCommand">
      <button (click)="addCommand()">Hinzufügen</button>
    </div>
  </div>
  <div class="dataArea">
    <div class="dataAreaHeader">
      <label class="labelHeader">Eigene Befehle</label>
    </div>
    <div>
      <table>
        <thead>
        <tr>
          <th>Command</th>
          <th>Anzahl actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let command of customCommands">
          <td>{{command.command}}</td>
          <td>{{command.actions.length}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</body>
