#chat,
#chat pre.output,
#chat pre.output span,
#chat textarea,
#chat textarea:focus {
  font-weight: normal;
  border: 0 none;
  outline: 0 none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: black;
}

#chat {
  background: white;
  color: black;
  height: 100%;
}

#chat pre.output {
  display: block;
  white-space: pre-wrap;
  width: 100%;
  height: calc(100% - 6.5rem);
  overflow-y: auto;
  position: relative;
  padding: 0 .2rem;
  margin: 0 0 10px;
  border: 0 none;
}

::ng-deep #chat .output span {
  color: black;
}

::ng-deep #chat .output span.sent {
  color: #222;
}


::ng-deep #chat.output span.received {
  color: #66f;
}


::ng-deep #chat.output span.master {
  color: #c44;
}

.recipient {
  width: 100%;
  padding: .2rem;
  margin-top: -.2rem;
}

#chat .input {
  padding: .2rem;

  input {
    width: calc(100% - 40px);
    border: 0 none;
    outline: 0 none;
    margin: 0;
  }
}


#chat input:focus {
  outline: 0 none;
}

#chat pre.output::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

#chat pre.output::-webkit-scrollbar-track-piece {
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

#chat pre.output::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 5px;
}

#chat pre.output::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}

