<body>
<div class="avatarconfiguratorHeader">
  <h1>Avatar-Konfigurator</h1>
</div>
<div class="Area">
  <div class="inputArea">
    <div class="inputAreaHeader">
      <input class="inputName" placeholder="Name"/>
    </div>
    <div class="inputAreaBody">
      <div>
        <label>Klasse:</label>
        <mat-form-field class="dropDown">
          <mat-select [(ngModel)]="selectedClass">
            <mat-option *ngFor="let classType of classTypes" [value]="classType" (click)="classChanged(classType)">
              {{classType}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <label>Rasse:</label>
        <mat-form-field class="dropDown">
          <mat-select [(ngModel)]="selectedRace">
            <mat-option *ngFor="let race of raceTypes" [value]="race" (click)="raceChanged(race)">
              {{race}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="divBtn">
      <button routerLink="/game">Erstellen</button>
    </div>
  </div>
  <div class="dataArea">
    <div class="dataAreaHeader">
      <label class="labelHeader">Avatar Eigenschaften</label>
    </div>
    <div class="outputArea">
      <div>
        <mat-card>
          <mat-card-title>Gesundheit</mat-card-title>
          <mat-card-content>
            {{health}}
          </mat-card-content>
        </mat-card>
        <mat-card>
          <mat-card-title>Angriff</mat-card-title>
          <mat-card-content>
            {{damage}}
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
</body>
