<h2 mat-dialog-title>Avatar-Konfigurator</h2>
<mat-dialog-content>
  <div class="Area">
    <div class="inputArea" [formGroup]="form">
      <div class="inputAreaHeader">
        <input class="inputName" placeholder="Name" formControlName="name"/>
        <mat-error *ngIf="form.get('name')?.hasError('minlength')">
          Der Name muss mindestens 2 Zeichen lang sein.
        </mat-error>
      </div>
      <div class="inputAreaBody">
        <div>
          <label>Klasse:</label>
          <mat-form-field class="dropDown">
            <mat-select formControlName="clazz">
              <mat-option *ngFor="let classType of classes" [value]="classType">
                {{classType}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <label>Rasse:</label>
          <mat-form-field class="dropDown">
            <mat-select formControlName="race">
              <mat-option *ngFor="let race of races" [value]="race">
                {{race}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="dataArea">
      <div class="dataAreaHeader">
        <label class="labelHeader">Avatar Eigenschaften</label>
      </div>
      <div class="outputArea">
        <div>
          <mat-card *ngIf="health">
            <mat-card-title>Gesundheit</mat-card-title>
            <mat-card-content>
              {{health}}
            </mat-card-content>
          </mat-card>
          <mat-card *ngIf="damage">
            <mat-card-title>Angriff</mat-card-title>
            <mat-card-content>
              {{damage}}
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <div class="divBtn">
    <button (click)="submitAvatar()" [disabled]="!form.valid">Avatar erstellen</button>
  </div>
</mat-dialog-actions>

