<body>
<div class="mudNameHeader">
  <button class="leaveGameBtn">Spiel verlassen</button>
  <h1 [textContent]="mudName" ></h1>
</div>

<div class="userArea">
  <div class="consoleArea">
    <div class="gameConsole">
      <app-console [lines]="echoCmd" (lineEntered)="echoCmd.next('You said: ' + $event)"></app-console>
    </div>
    <div class="chatConsole">
      <app-console [lines]="echoCmd" (lineEntered)="echoCmd.next('You said: ' + $event)"></app-console>
    </div>
  </div>
  <div class="rightArea">
    <div class="gameMapArea">
      <div class="divRightTop">
        <div class="playersOnline">
          <label>Players online:</label>
          <mat-list>
            <mat-list-item *ngFor="let value of selectedRoomValues">
              {{value}}
            </mat-list-item>
          </mat-list>
        </div>
        <div class="gameMap">
          <mat-grid-list [cols]="mapColumns">
            <mat-grid-tile *ngFor="let gridValue of grid" (click)="gridRoomSelected(gridValue)"
                           [style.background]="gridValue.color">
            </mat-grid-tile>
          </mat-grid-list>
        </div>
      </div>
    </div>
    <div class="gameMapContents">
      <mat-list>
        <mat-list-item *ngFor="let value of onlinePlayers">
          {{value}}
        </mat-list-item>
      </mat-list>
    </div>
  </div>
</div>

</body>
