<body>
  <div class="configArea">
    <div class="inputArea">
      <div class="inputAreaHeader">

      </div>
      <div class="inputAreaBody">
        <div>
          <label>Startequipment</label>
          <mat-selection-list [(ngModel)]="selectedEquipment" (selectionChange)="saveStartequipment()">
            <mat-list-option *ngFor="let item of allEquipment" [value]="item">
              {{item.name}}
            </mat-list-option>
          </mat-selection-list>
        </div>
      </div>
    </div>
    <div class="dataArea">

    </div>
  </div>
</body>
